body{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color:#181532;
}

/* navbar */
.nav{
    position: fixed;
    top: 0;
    width: 90%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* navbar name section */
.name h1{
    color: #fff;
    font-weight: 300;
    padding-left: 100px;
}
.name span{
    font-weight: 600;
    color: #E43A33;
}


/* navbar social icons */
.social i{
    color: white;
    padding: 5px 10px;
}
.social i:hover{
    color: #E43A33;
}

/* right nav links */
.links{
    position: fixed;
    right: 1%;
    top: 27%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #7b798c3e;
    border-radius: 100px;
    padding: 10px 0px;
}

.links i{
    padding: 20px 15px;
    color: white;
    font-size: 15px;
}

.links i:hover{
    color: #E43A33;
}

/* home section */
#home{
    height: 100vh;
    text-align: justify;
}

/* image in home */
#home img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    height: 100vh;
    opacity: 40%;
}

/* text in home */
.text{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
    justify-content: center;
    padding-left: 100px;
}

.text h1{
    color: white;
    font-size: 3rem;
    margin: 0;
}

.text span{
    color : #E43A33;
    text-align: center;
}

.text p{
    font-size: small;
    color: #ffffffab;
}