body{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color:#181532;
}

/* navbar */
.nav{
    position: fixed;
    top: 0;
    width: 90%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* navbar name section */
.name h1{
    color: #fff;
    font-weight: 300;
    padding-left: 100px;
}
.name span{
    font-weight: 600;
    color: #E43A33;
}


/* navbar social icons */
.social i{
    color: white;
    padding: 5px 10px;
}
.social i:hover{
    color: #E43A33;
}

/* right nav links */
.links{
    position: fixed;
    right: 1%;
    top: 27%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #7b798c3e;
    border-radius: 100px;
    padding: 10px 0px;
}

.links i{
    padding: 20px 15px;
    color: white;
    font-size: 15px;
}

.links i:hover{
    color: #E43A33;
}

/* home section */
#home{
    min-height: 100vh;
    text-align: justify;
}

/* image in home */
#home img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    height: 100vh;
    opacity: 40%;
}

/* text in home */
.text{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
    justify-content: center;
    padding-left: 100px;
}

.text h1{
    color: white;
    font-size: 3rem;
    margin: 0;
}

.text span{
    color : #E43A33;
    text-align: center;
}

.text p{
    font-size: small;
    color: #ffffffab;
}

/* profile section */
#profile{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   gap: 50px;
}
/* profile section left div */
.top-left h1{
    color: white;
    font-size: 2.5rem;
    padding: 0;
}

.top-left span{
    color : #E43A33;
    text-align: center;
}

.top-left p{
    font-size: small;
    color: #ffffffab;
}

.bottom-left{
    display: flex;
    flex-direction: row; 
    gap: 30px;
    font-weight: 400;
    color: #ffffffab;
}

.bottom-left span{
    color: #E43A33;
    font-size: 2rem;
    font-weight: 800;
}

.bottom-left hr{
    margin: 0;
    padding: 0;
    opacity: 20%;
}

/*profile section right div */
.profile-right { 
    color: #ffffffab;
}

.profile-right h1{
    color: #E43A33;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 0;
}

.profile-right ul{
    list-style: none;
    padding: 0;
}

.profile-right li{
    margin-bottom: 10px;
}

/* service section */
#services{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 60px;
}

/* service page left section */
.service-left h1{
    color: white;
    font-size: 2.5rem;
    margin: 0;
}

.service-left span{
    color : #E43A33;
    text-align: center;
}

.service-left p{
    font-size: small;
    color: #ffffffab;
}

/* service page right section */
.service-right{
    display: flex;
    gap: 30px;
    color: #ffffffab;
}

.branding, .design, .development{
    background-color: rgba(255, 255, 255, 0.035);
    padding: 30px 40px;
}
.branding i, .design i, .development i{
    font-size: 20px;
    color:#E43A33;
}
