body{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color:#181532;
}

/* navbar */
.nav{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* navbar name section */
.name h1{
    color: #fff;
    font-weight: 300;
}
.name span{
    font-weight: 600;
    color: #E43A33;
}


/* navbar social icons */
.social i{
    color: white;
    padding: 5px 10px;
}
.social i:hover{
    color: #E43A33;
}

/* right nav links */
.links{
    position: fixed;
    right: 1%;
    top: 27%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #7b798c3e;
    border-radius: 100px;
    padding: 10px 0px;
}

.links i{
    padding: 20px 15px;
    color: white;
    font-size: 15px;
}

.links i:hover{
    color: #E43A33;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
}